htm {
    font-size: 100%;
    
}
body{
    font-family: dana !important;
}
@font-face {
    font-family: "dana";
    src: url(../font/dana-medium\ \(2\).ttf) ;
}

.data {
  justify-content: center !important;
  width: 0 !important;
}
.pad {
    padding-right: 17rem !important;
}
input [type=text] {
 width: 130px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
background-color: white;
background-image: url("https://img.icons8.com/windows/32/000000/search--v1.png");
background-position: 10px 10px; 
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
width: 100%;
}
.btn i {
    display: none;
}
.btn:hover i {
    display: inline;
}
.bg {
    background-color:rgb(44, 42, 42);
    height: 710px;
}
.mg {
    margin: 6rem 0rem 0rem 3rem;
}
.bot {
    bottom: 13rem;
}
.font-size {
    font-size: 7rem;
    color: #3e51da;
}
.ico{
    position: relative !important;
    right: 107px;

}
.active-1 {
    background-color: #27c9b8;
    
}
.section-1 {
background:#27323a ;
}
.section-2 {
    background: #22262e;
}
.green {
    color: #35bbaa;
}
.h2 {
    color: #815ab4;
}
.bold {
    font-size: 4rem;
}
.section-3 {
    background:#333 ;
}
.bg-dark{
    position: relative;
}
/* .bg-dark img {
    position: relative;
    z-index: 1;
} */
 .dark-1 {

    z-index: -1;
    color: blue;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 2.5rem;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 4rem;
    
} 
.bg-dark:hover .dark-1 {
    z-index: 1;
    
}
 .span-1 {
    position: relative;
    top: 30px;
    left: 0px;
    right: 0px;
    transition: all 0.3s;
} 
.bg-dark:hover .span-1 {
    top: 3px;
}
.section-4 {
    background: #283139;
}
.bii {
    font-size: 6rem;
    color: #ec6d5f;
}
.biii {
    font-size:6rem;
    color: #1fa0e3;
}
.biit {
    font-size: 6rem;
    color: #47bfa4;
}
footer {
    background: #808e93;
}
footer li::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 3px solid #11d5f5;
    border-radius: 49px;
    margin-left: 1rem;
}
