@media screen and (max-width:768px) {
    
.navbar-toggler {
    position: relative;
    right: -70px;
    top: -29px;

}
.navbar {
    position: unset;
}
.pad {
    padding-right: 0rem !important;
    margin-right: 2rem;
}
.bi-cart-fill {
    position: relative;
    top: 7px;
    right: 23px;
}
.img {
    position: relative;
    right: 96px;
    top: 31px;

}
.dark {
    top: 2rem !important;
    
}
.dark>h2 ,p ,button {
    font-size: 1.2rem;
}
.bg {
    height:250px !important;

}
.bot {
    bottom: 3.5rem;
    padding-right: 68px;
}

.bot >h2 , p ,button {
    font-size: 1rem;

}  

.item {
    text-align: center;
}
.padding {
    padding-top: 5rem;
}
.ico{
    right: 98px;
}
.dark-1 {
    z-index:1;
}
.span-1 {
    top: -14px !important;
}
.develop {
    transition: unset;
    width: 50%;
}
 .bii ,.biii ,.biit {
     font-size: 6rem !important;
 }
}